.phone-container {
  
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  z-index: 20;
}
.phone-container.phone-main {
  background-image: url(../../assets/imgs/phone/phoneBg.jpg);
}
.phone-container.phone-off {
  background-color: var(--content-bg);
  color: #888888;
}

.phone-top {
  display: none;
}

.phone-top__middle-bar {
  width: 40%;
  background-color: black;
  height: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.phone-top__icons {
  width: 30%;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: inherit;
}
.phone-top__icons.right {
  cursor: pointer;
}

/* .phone-top__time {

} */

.phone-top__battery {
  font-size: 1.2rem;
}

.phone-buttons__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 100%;
  height: 100%;
  position: relative;
}
.phone-buttons__container.phone-off {
  justify-content: center;
}

.phone-buttons__bottom-bar {
  
  width: 95%;
  bottom: 0;
  background-color: rgba(17, 12, 61, 0.85);
  border-radius: 1rem;
  margin: .5rem auto;
  padding: .4rem .3rem;
  display: flex;
  justify-content: space-around;
}

.phone-buttons__grid {
  
  margin-top: 1.3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: fit-content;
  gap: .7rem .6rem;
  padding: 1rem;
  margin: 0 auto;
}

.phone-button__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.phone-button__name {
  all: unset;
  margin-top: .3rem;
  font-size: .9rem;
  color: white;
}

.phone-button__icon {
  aspect-ratio: 1/1;
  width: 3.5rem;
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  font-size: 2rem;
  transition: transform 100ms ease-in-out;
}
.phone-button__icon:hover {
  transform: scale(1.1);
}

.power-button {
  color: #3b2e49;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 5rem;
  animation: power-button-pulse 1s ease-in-out infinite alternate;
}
.power-button:hover {
  color: var(--purple);
  transition: color ease-in-out;
  animation: none;
}

.theme-button {
  transition: .2s all ease-in-out;
}
/* .theme-button.dark {
  color: white;
} */
.theme-button.light {
  background-color: rgb(255, 255, 255);
  color: rgb(42, 39, 255);
}

.low-power {
  background-color: white;
  color: rgb(255, 187, 0);
}

@keyframes power-button-pulse {
  0% {
    color: var(--purple);
  }
  75% {
    color: #3b2e49;
  }
  100% {
    color: #3b2e49;
  }
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
  .phone-buttons__grid {
    gap: .7rem 1.5rem;
  }
  .phone-button__icon {
    width: 7rem;
    border-radius: 2rem;
    font-size: 3rem;
  }
  .phone-buttons__bottom-bar {
    width: 70%;
  }

  .phone-button__name {
    font-size: 1.5rem;
  }
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .phone-container {
    aspect-ratio: 141/289;
    position: relative;
    width: 20rem;
    height: auto;
    transform: translate(0, 1px);
    border: .6rem solid black;
    border-radius: 1.5rem;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    box-shadow: var(--phone-shadow);
  }

  .phone-top {
    height: 1.8rem;
    display: flex;
    justify-content: space-between;
  }

  .phone-buttons__container {
    height: 100%;
  }
  
  .phone-buttons__grid {
    gap: .7rem .6rem;
  }
  .phone-button__icon {
    width: 3.5rem;
    border-radius: var(--border-radius);
    font-size: 2rem;
  }
  .phone-buttons__bottom-bar {
    width: 95%;
  }

  .phone-button__name {
    font-size: .9rem;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}