.skills__display {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.skills-list__title {
  all: inherit;
  margin-block: 0;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 0;
  margin-bottom: .2rem;
}

.skills-list__wrapper {
  aspect-ratio: 2.2/1;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--content-bg);
  width: 25rem;
  gap: .5rem;
  border-radius: var(--border-radius);
  padding: .7rem;
}

.skill__wrapper {
  all: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 5.5rem;
  cursor: pointer;
}

.skill__icon {
  margin: 0 auto;
}

.skill__icon-image {
  width: 2.5rem;
}

.skill__icon-title {
  all: unset;
  margin-top: .4rem;
  font-size: .85rem;
}