.skills__display {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.skills-list__title {
  all: inherit;
  margin-block: 0;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 0;
  margin-bottom: .2rem;
}

.skills-list__wrapper {
  aspect-ratio: 2.2/1;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--content-bg);
  width: 25rem;
  border-radius: var(--border-radius);
  padding: .7rem;
}

.skill__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 4.5rem;
  cursor: pointer;
  text-decoration: none ;
}

.skill__icon {
  margin: 0 auto;
}

.skill__icon-image {
  width: 2.5rem;
}

.skill__icon-title {
  margin-top: .4rem;
  font-size: .85rem;
  color: var(--font-color);
}

/* 320 */

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .skill__wrapper {
    width: 5.5rem;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}