.experience__dates {
  width: 100%;
  font-size: .8rem;
  margin-bottom: .5rem;
}

.experience__description {
  padding-top: .5rem;
}

.experience__bullet-points-wrapper {
  width: 95%;
  margin: 0 auto;
  padding-top: .5rem;
  font-size: .9rem;
}

.experience__bullet-point {
  margin-bottom: .5rem;
}

.experience__bullet-point--arrow {
  color: var(--bullet-point-arrow);
  font-size: 1.5em;
}

/* 320 */

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .experience__dates {
    margin: auto;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}