.contact__grid {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
}

.contact__info {
  margin: auto 0;
}

.contact__info > article {
  width: 40rem;
  background-color: var(--div-bg);
  height: max-content;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
}

.contact-response__wrapper {
  width: 100%;
  height: 1rem;
  background-color: transparent;
}

.contact__form-wrapper {
  background-color: var(--div-bg);
  width: max-content;
  width: 40%;
  min-width: 25rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-left: auto;
  padding-bottom: 1rem;
}
.contact__form {
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
}
.contact__form--buttons-wrapper {

}
.contact__form-submit {

}

.contact__input {
  border: 0;
  background-color: var(--input-background);
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, .5);
  outline-style: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--input-border-color);
  color: var(--font-color);
  margin-bottom: 1rem;
}
.contact__input:is(:hover, :active, :focus) {
  border-color: var(--input-highlight-border-color);
}

.contact__info--buttons-wrapper {
  display: flex;
  width: max-content;
  margin: 0 auto;
}
.contact__info--button {
  display: block;
  width: max-content;
  padding: .4rem 1.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-style: italic;
  border-radius: var(--border-radius);
  margin: 0 .3rem;
  text-wrap: nowrap;
}
.contact__info--button > span {
  font-size: 1.2rem;
  margin-right: .3rem;
}
.github {
  color: #24292f;
  background-color: #98929b;
}
[color-scheme='light'] .github {
  color:#d3d0d4;
  background-color: #24292f;
}

.linkedin {
  background-color: #0275b4;
}

/* 320 */

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){

}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){

}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}