.contact__grid {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.contact__info {
  margin: auto auto;
}

.contact__info > article {
  width: 100%;
  background-color: var(--div-bg);
  height: max-content;
  padding: 1rem .5rem;
}

.contact-response__wrapper {
  width: 100%;
  height: 1.4rem;
  background-color: transparent;
  text-align: center;
  padding: .2rem 0;
  margin-bottom: .2rem;
}
.contact-response__wrapper.sent {
  background-color: #00be00;
}
.contact-response__wrapper.error {
  background-color: rgb(180, 0, 0);
  color: black;
}

.contact__form-wrapper {
  background-color: var(--div-bg);
  width: max-content;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  padding-bottom: 1rem;
}
.contact__form {
  padding: 1rem .5rem;
  display: flex;
  flex-direction: column;
}
.contact__form--buttons-wrapper {
  text-align: end;
}
.contact__form-submit {
  border-radius: var(--border-radius);
  padding: .3rem 1rem;
  border: 0;
  border: 1px solid black;
  background-color: var(--purple);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.contact__form-submit:is(:hover, :focus) {
  color: var(--purple);
  background-color: black;
  border-color: var(--purple);
}
.contact__form-submit:active {
  color: white;
  background-color: black;
  border-color: white;
}

.contact__form-wrapper > span {
  font-size: 2.5rem;
  margin: 1rem .5rem .5rem;
  font-family: 'alien-encounters-italic';
}

.contact__input {
  border: 0;
  background-color: var(--input-background);
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, .5);
  outline-style: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--input-border-color);
  color: var(--font-color);
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}
.contact__input:is(:hover, :active, :focus) {
  border-color: var(--input-highlight-border-color);
}

.contact__info--buttons-wrapper {
  display: flex;
  width: max-content;
  margin: .5rem auto;
}
.contact__info--button {
  display: block;
  width: max-content;
  padding: .4rem 1.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-style: italic;
  border-radius: var(--border-radius);
  margin: 0 .3rem;
  text-wrap: nowrap;
}
.contact__info--button > span {
  font-size: 1.2rem;
  margin-right: .3rem;
}
.github {
  color: #24292f;
  background-color: #98929b;
}
[color-scheme='light'] .github {
  color:#d3d0d4;
  background-color: #24292f;
}

.linkedin {
  background-color: #0275b4;
}

/* 320 */

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){

}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .contact__grid {
    flex-direction: row;
    width: 95%;
    margin: 2rem auto 0;
  }

  .contact__info > article {
    width: 40rem;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
  }

  .contact__form-wrapper {
    width: max-content;
    width: 40%;
    min-width: 25rem;
    padding-bottom: 1rem;
    border-radius: var(--border-radius);
    margin: auto;
  }
  .contact__form {
    padding: 1rem 2.5rem;
  }

  .contact__form-wrapper > span {
    margin: 1rem 2.5rem .5rem;
  }

  .contact__input {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1366px){

}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}