.home-page {
  box-sizing: border-box;
}

.home-page__skills-list-wrapper {
  box-sizing: border-box;
  width: max-content;
}
.home-page__skills-list {
  display: flex;
}

.see-more--wrapper {
  width: 100%;
  text-align: end;
}
.see-more {
  display: inline;
  cursor: pointer;
  font-size: .9rem;
  width: max-content;
  font-style: italic;
}
.see-more:is(:hover, :focus) {
  border-bottom: 1px solid white;
}