.home-page {
  box-sizing: border-box;
}

.home-page__skills-list-wrapper {
  box-sizing: border-box;
  width: 25rem;
}
.home-page__skills-list-wrapper > h2{
  all: inherit;
  margin-block: 0;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 0;
  margin-bottom: .2rem;
}

.home-page__skills-list {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--content-bg);
  border-radius: var(--border-radius);
  width: 25rem;
  padding: .7rem;
}

.see-more--wrapper {
  width: 100%;
  text-align: end;
}
.see-more {
  display: inline;
  cursor: pointer;
  font-size: .9rem;
  width: max-content;
  font-style: italic;
}
.see-more:is(:hover, :focus) {
  border-bottom: 1px solid white;
}