.home-page__summary {
  width: 90%;
  margin: 4rem auto;
}

.widgets-wrapper {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  overflow: visible;
}

.widget {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background-color: rgba(46, 20, 141, 0.5);
  overflow: hidden;
  margin-bottom: 4rem;
  transition: transform 0.5s ease-in-out;
}

.widget__slide-in {
  transform: translateX(0) !important;
}
.widget__slide-out {
  transform: translateX(-100%);
}
.widget__slide-out:nth-child(even)  {
  transform: translateX(100%);
}

.widget-hero {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: var(--border-radius);
  width: 90%;
  margin: .5rem auto;
}

.widget-info {
  margin: 0 1rem;
  padding: .5rem;
  align-self: start;
}

.widget-info > h2 {
  font-size: 1.5rem;
  margin: 0;
}

.widget__click-for-more {
  margin-top: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  width: fit-content;
  border-bottom: 1px solid transparent;
  transition: border-bottom .2s ease-out;
}
.widget__click-for-more:hover {
  border-bottom: 1px solid var(--purple);
}

.widget > section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
}

.widget__sub-title {
  font-size: .9rem;
  margin-bottom: 1rem;
}
.widget__skills-list {
  width: 100%;
  margin-top: 1rem;
}

/* 320 */

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .home-page__summary {
    width: 70%;
  }

  .widget {
    flex-direction: initial;
    width: 95%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0; 
    align-items: center;
  }
  .widget:nth-child(even) {
    flex-direction: row-reverse;
    margin-left: auto;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    transition: transform 0.5s ease-in-out;
  }

  .widget-hero {
    width: 20rem;
    margin: 0.5rem;
    aspect-ratio: 125 / 71;
    border-radius: var(--border-radius);
    display: block;
    object-fit: cover;
  }
  
  .widget-info > h2 {
    font-size: 2rem;
  }

  .widget > section {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
  .widget-hero {
    width: 40rem;
  }
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1700px){
}

@media (min-width: 1800px){
}

@media (min-width: 1920px){

  .widget {
    width: 80%;
  }
  .widget-hero {
    width: 60rem;
  }
}

@media (min-width: 2560px){
}