.phone-container.phone-settings {
  background-color: rgb(15, 15, 15);
  color: white;
}

.phone-settings__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  margin: 1rem 0;
}
.phone-settings__top > h2 {
  display: block;
  margin: 0;
  padding: 0;
}

.phone-settings__close {
  border: 0;
  background: transparent;
  display: block;
  color: white;
  aspect-ratio: 1/1;
  width: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.phone-settings__profile {
  background-color: rgb(24, 24, 24);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

.phone-settings__settings {
  background-color: rgb(24, 24, 24);
  border-radius: var(--border-radius);
  padding: .5rem 1rem;
}

.phone-settings__item {
  display: flex;
  width: 100%;
  align-items: center;
}

.phone-settings__item-icon {
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  width: 2rem;
  background-color: #007bff;
  padding: .5rem;
  border-radius: 5px;
  margin-right: 1rem;
}

.phone-settings__switch {
  margin-left: auto;
  border: 1px solid white;
  overflow: hidden;
  height: 1.3rem;
  width: 2.5rem;
  background-color: black;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.phone-settings__switch.switched {
  background-color: rgb(20, 173, 0);
}
.phone-settings__switch-circle {
  aspect-ratio: 1/1;
  width: 1.2rem;
  background-color: white;
  border-radius: 50%;
}
.phone-settings__switch-circle.right {
  margin-left: auto;
}