.project__skills-list {
  width: 100%;
}
.project__skills-item {
  font-size: .9rem;
  text-decoration: none;
  display: inline-block;
  margin-right: .5em;
  margin-bottom: 0.7rem;
  background-color: var(--tech-listing);
  padding: 0.2em 0.5rem;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid transparent;
  cursor: pointer;
}
.project__skills-item:is(:active, :hover) {
  border-color: #ffffff;
}

.project__code-buttons {
  margin-top: 0.6rem;
}
.project__code-buttons-item {
  text-decoration: none;
  color: #000000;
  padding: 0.2em 0.8rem;
  text-transform: uppercase;
  margin-right: .5em;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  background-color: #000000;
  border-color: #552a8b;
  color: #ffffff;
}
.project__code-buttons-item:is(:hover, :active) {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

[color-scheme='light'] .project__code-buttons-item {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}
[color-scheme='light'] .project__code-buttons-item:is(:hover, :active) {
  background-color: #000000;
  border-color: #552a8b;
  color: #9c97c7;
}

/* 320 */

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
  .project__skills-list {
    width: 80%;
  }
  .project__skills-item {
    font-size: 1rem;
    margin-right: 1em;
  }
  
  .list-chevron {
    display: none;
  }
}

@media (min-width: 810px){ 
  .project__list-item {
    padding-left: 1rem;
  }
  
  .projects__list {
    padding-right: 0.5rem;
  }
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
  
}

@media (min-width: 1440px){
  .project__code-buttons-item {
    margin-right: 1em;
  }
  .project__skills-list {
    width: 100%;
  }
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}