.experience-display__container {
  box-sizing: border-box;
}

.experience__list {
  box-sizing: border-box;
  height: max-content;
  min-width: fit-content;
  padding-top: .5rem;
}

.experience__wrapper {
  display: block;
}

.experience__main-block {
  box-sizing: border-box;
  background-color: var(--content-bg);
  display: grid;
  grid-template-rows: max-content 1fr;
  width: 100%;
  padding: .5rem;
  border-radius: var(--border-radius);
}

.experience__img {
  display: block;
  width: 100%;
  margin: .5rem 0 1rem;
  border-radius: var(--border-radius);
}

.experience__header {
  box-sizing: border-box;
  width: 100%;
  padding: 0 .5rem;
}

.experience__title {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #552a8b;
}

.experience__title > h2 {
  all: initial;
  margin: 0;
  font-size: 1.5rem;
  color: #ffffff;
}

.experience__title > h3 {
  all: initial;
  margin: 0;
  font-size: 1.2rem;
  color: #ffffff;
}

.experience__dates {
  width: 100%;
  font-size: .8rem;
  margin-bottom: .5rem;
}

.experience__description {
  padding-top: .5rem;
}

.experience__bullet-points-wrapper {
  width: 95%;
  margin: 0 auto;
  padding-top: .5rem;
  font-size: .9rem;
}

.experience__bullet-point {
  padding-bottom: .5rem;
}

.experience__bullet-point--arrow {
  color: var(--purple);
  font-size: 1.5em;
}

/* 320 */

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .experience-display__container {
    display: flex;
  }

  .experience__list {
    height: 80vh;
    padding-right: 0.5rem;
    overflow-y: hidden;
  }

  .experience__wrapper {
    margin: 1rem;
  }

  .experience__main-block {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 1rem;
  }
  
  .experience__img {
    margin: auto;
  }
  
  .experience__title {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  .experience__dates {
    margin: auto;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}
