.experience-display__container {
  box-sizing: border-box;
}

.experience__list {
  box-sizing: border-box;
  height: max-content;
  min-width: fit-content;
  padding-top: .5rem;
}

.experience__wrapper {
  display: block;
  margin: 1rem;
}

.experience__main-block {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 1rem;
  width: 100%;
  background-color: var(--content-bg);
  border-radius: var(--border-radius);
}

.experience__img {
  display: block;
  border-radius: var(--border-radius);
  width: 100%;
}

.experience__header {
  box-sizing: border-box;
  width: 100%;
  padding: 0 .5rem;
}

.experience__title {
  display: flex;
  justify-content: space-between;
  flex-direction: auto;
  justify-content:space-between;
  border-bottom: 1px solid #552a8b;
  align-items: end;
}

.experience__title > h2 {
  all: initial;
  margin: 0;
  font-size: 1.5rem;
  color: #ffffff;
}

.experience__title > h3 {
  all: initial;
  margin: 0;
  font-size: 1.7rem;
  color: #ffffff;
  font-size: 1.2rem;
}

.experience__dates {
  width: 100%;
  font-size: .8rem;
}

.experience__description {
  padding-top: .5rem;
}

.experience__bullet-points-wrapper {
  width: 95%;
  margin: 0 auto;
  font-size: .9rem;
  padding-top: .5rem;
}

.experience__bullet-point {
  padding-bottom: .5rem;
}

.experience__bullet-point--arrow {
  color: var(--purple);
}

/* 320 */

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .experience-display__container {
    display: flex;
  }

  .experience__list {
    height: 80vh;
    overflow-y: hidden;
    padding-right: 0.5rem;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}
