.projects-display__container {
  display: flex;
}

.projects__list {
  width: fit-content;
  padding: 1rem;
}
.projects__list-item {
  padding: .5rem 2rem;
  padding-left: 1rem;
  text-wrap: nowrap;
  cursor: pointer;
  background: linear-gradient(90deg, var(--purple-dark) 50%, rgba(2,45,82,0) 100%);
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  color: #ffffff;
}
.projects__list-item:is(:hover,:focus){
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.projects__list-item.selected {
  background: linear-gradient(90deg, var(--purple) 50%, rgba(2,45,82,0) 100%);
}

.project {
  width: 100%;
  padding: 1rem;
  border: 1.5px solid var(--content-bg);
  border-radius: var(--border-radius);
  background-color: var(--content-bg);
  margin: 1rem;
}

.project__header {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.project__hero-img {
  display: block;
  border-radius: var(--border-radius);
  width: 25rem;
}
.project__header-info {
  margin-left: 1rem;
  text-wrap: wrap;
}
.project__header-info > h2 {
  all: inherit;
  margin: 0;
  font-size: 2rem;
  color: #ffffff;
  border-bottom: 1px solid var(--purple);
}

.project__skills-list {
  width: 80%;
}
.project__skills-item {
  text-decoration: none;
  display:  inline-block;
  margin-right: 1em;
  margin-bottom: .7rem;
  background-color: var(--purple);
  padding: .2em .5rem;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid transparent;
}
.project__skills-item:is(:active, :hover){
  border-color: #ffffff;
}

.project__code-buttons {
  margin-top: .6rem;
}
.project__code-buttons-item {
  text-decoration: none;
  color: #000000;
  padding: .2em .8rem;
  text-transform: uppercase;
  margin-right: 1em;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  background-color: #000000;
  border-color: var(--purple);
  color: var(--purple);
}
.project__code-buttons-item:is(:hover, :active){
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}