.projects-display__container {
  box-sizing: border-box;
}

.projects__list {
  box-sizing: border-box;
  height: max-content;
  min-width: fit-content;
  padding-top: .5rem;
}

.projects__list-item {
  padding: 0.3rem 2rem;
  padding-left: .7rem;
  text-wrap: nowrap;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    var(--list-item-bg) 30%,
    rgba(2, 45, 82, 0) 100%
  );
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  color: #ffffff;
}
.projects__list-item:is(:hover, :focus) {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}
.projects__list-item.selected {
  background: linear-gradient(
    90deg,
    var(--list-item-bg-light) 50%,
    rgba(2, 45, 82, 0) 100%
  );
}
.projects__list-item.show {
  display: block;
}
.projects__list-item.no-show {
  display: none;
}
.projects__list-item__slide-up {
  transform: translate(0%, 0);
  opacity: 1;
  transition: transform 1s ease-in-out, opacity .5s ease-in-out;
}
.projects__list-item__slide-down {
  transform: translate(-50vh, 0);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity .5s ease-in-out;
}

.project {
  box-sizing: border-box;
  width: 100%;
}

.project__header {
  padding: .5rem;
  background-color: var(--content-bg);
}
/* [color-scheme='light'] .project__header {
  background-color: var(--content-bg);
} */

.project__hero-img {
  display: block;
  border-radius: var(--border-radius);
  width: 100%;
}
.project__header-info {
  text-wrap: wrap;
  padding: 1rem 0rem;
}

.project__header--title-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #552a8b;
  align-items: end;
}
.project__header--title-wrapper > h2 {
  all: initial;
  margin: 0;
  font-size: 1.5rem;
  color: #ffffff;
}
.project__header--title-wrapper > h3 {
  all: initial;
  margin: 0;
  color: #ffffff;
}

.project__skills-list {
  width: 100%;
}
.project__skills-item {
  font-size: .9rem;
  text-decoration: none;
  display: inline-block;
  margin-right: .5em;
  margin-bottom: 0.7rem;
  background-color: var(--list-item-bg-light);
  padding: 0.2em 0.5rem;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid transparent;
}
.project__skills-item:is(:active, :hover) {
  border-color: #ffffff;
}

.project__code-buttons {
  margin-top: 0.6rem;
}
.project__code-buttons-item {
  text-decoration: none;
  color: #000000;
  padding: 0.2em 0.8rem;
  text-transform: uppercase;
  margin-right: .5em;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  background-color: #000000;
  border-color: #552a8b;
  color: #9c97c7;
}
.project__code-buttons-item:is(:hover, :active) {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

.project__screenshots {
  display: flex;
  margin-top: 0.7rem;
  gap: 1rem;
  padding: 1rem;
  border: 1.5px solid var(--content-bg);
  border-radius: var(--border-radius);
  background-color: var(--content-bg);
  flex-wrap: wrap;
}
.project__screenshots-item {
  display: block;
  border-radius: var(--border-radius);
  width: 20rem;
  scale: 1;
  cursor: pointer;
}
.project__screenshots-item:is(:hover, :active) {
  scale: 1.03;
  transition: scale 0.1s ease-in-out;
}

.list-chevron {
  aspect-ratio: 1/1;
  display: inline-block;
  width: 1.5rem;
  font-size: 1.5rem;
}

/* 320 */

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
  .projects-display__container {
    display: flex;
  }
  .projects__list {
    height: 80vh;
    overflow-y: hidden;
  }
  .projects__list-item {
    padding: 0.5rem 2rem;
    padding-left: .5rem;
    margin-bottom: 0.5rem;
  }
  .projects__list-item.show {
    display: block;
  }
  .projects__list-item.no-show {
    display: block;
  }
  .projects__list-item__slide-up {
    transform: translate(0%, 0);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  .projects__list-item__slide-down {
    transform: translate(0, 80vh);
  }  
  .project__skills-list {
    width: 80%;
  }
  .project__skills-item {
    font-size: 1rem;
    margin-right: 1em;
  }  
  .project__header {
    border-radius: var(--border-radius);
  }
  
  .list-chevron {
    display: none;
  }
}

@media (min-width: 810px){ 
  .projects__list-item {
    padding-left: 1rem;
  }
  
  .projects__list {
    padding-right: 0.5rem;
  }
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
  
}

@media (min-width: 1440px){
  .project {
    margin: 1rem;
  }

  .project__header {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 1rem;
    border: 1.5px solid var(--content-bg);
  }
  .project__header-info {
    margin-left: 1rem;
    padding: auto;
  }

  .project__hero-img {
    display: block;
    border-radius: var(--border-radius);
    width: 25rem;
  }

  .project__header--title-wrapper {
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #552a8b;
    align-items: end;
  }
  .project__header--title-wrapper > h2 {
    font-size: 2rem;
  }




  .project__code-buttons-item {
    margin-right: 1em;
  }
  .project__skills-list {
    width: 100%;
  }
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}