@font-face {
  font-family: 'sf-regular';
  src: url('../assets/fonts/SF-Pro-Text-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf-thin';
  src: url('../assets/fonts/SF-Pro-Display-Thin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf-ultra-light';
  src: url('../assets/fonts/SF-Pro-Display-Ultralight.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alien-encounters';
  src: url('../assets/fonts/AlienEncounters.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alien-encounters-italic';
  src: url('../assets/fonts/AlienEncounters-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --backdrop: #000000;
  --backdrops-sliders: linear-gradient(-60deg,
    var(--purple) 0%,
    rgba(68,0,122,1) 39%,
    rgba(31,0,56,1) 56%,
    rgba(0,0,0,1) 10%
  );
  --content-bg: rgba(17, 16, 26, .7);
  --content-screen-bg: rgba(27, 24, 71, .6);
  --divider-background: linear-gradient(-45deg,
    #F600FF,
    var(--purple),
    #3600FF,
    #00B9FF
  );
  --font-color: #ffffff;
  --input-background: #6900BA;
  --input-border-color: black;
  --input-highlight-border-color: white;
  --list-item-bg: #552a8b;
  --list-item-bg-light: var(--purple);
  --phone-shadow: 1rem 1rem .3rem rgba(0, 0, 0, .5);
  --purple: #8d00ff;
  --reveal-background: no-repeat linear-gradient(white 0 0) 0 0;

  /* Values */
  --border-radius: 1rem;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: .5rem;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .3);
  border-radius: var(--border-radius);
}
::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: var(--purple);
}
[color-scheme='light'] ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .5);
}

/* Themes */
[color-scheme='light'] {
  --backdrops-sliders: linear-gradient(-60deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 39%,
    rgb(186, 167, 197) 56%,
    rgb(139, 107, 175) 10%
  );
  --content-bg: #9c97c7;
  --content-screen-bg: rgba(202, 202, 202, .6);
  --divider-background: linear-gradient(-45deg,
    white,
    rgb(0, 0, 0)
  );
  --font-color: #382847;
  --input-background: #e2d1ee;
  --input-highlight-border-color: var(--purple);
  --list-item-bg: #6d4e9f;
  --list-item-bg-light: #491881;
  --reveal-background: no-repeat linear-gradient(white 0 0) 0 0;
}

[color-scheme='dark'] {
  --backdrops-sliders: linear-gradient(-60deg,
    var(--purple) 0%,
    rgba(68,0,122,1) 39%,
    rgba(31,0,56,1) 56%,
    rgba(0,0,0,1) 10%
  );
  --content-bg: rgba(17, 16, 26, .7);
  --content-screen-bg: rgba(27, 24, 71, .6);
  --divider-background: linear-gradient(-45deg,
    #F600FF,
    var(--purple),
    #3600FF,
    #00B9FF
  );
  --font-color: #ffffff;
  --input-background: #6900BA;
  --input-highlight-border-color: white;
  --list-item-bg: #4e1b8d;
  --list-item-bg-light: var(--purple);
  --reveal-background: no-repeat linear-gradient(white 0 0) 0 0;
  
}
/*  */

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backdrop);
  color: var(--font-color);
  font-family: 'sf-regular', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p, li, figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

abbr {
  border-bottom: none !important;
  text-decoration: none !important;
}

img {
  border-style: none;
}

.bg {
  animation: slide 2s ease-in-out infinite alternate;
  background-image: var(--backdrops-sliders);
  background-color: var(--backdrop);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration:4s;
}
.bg3 {
  animation-duration:5s;
}

.main-screen {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  overflow-x: hidden;
}

.nav-container {
  align-items: center;
  width: min-content;
  height: 100vh;
}
.nav-container.show {
  display: block;
}
.nav-container.no-show {
  display: none;
}

.content {
  box-sizing:border-box;
  background: var(--content-screen-bg);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  backdrop-filter: blur(5px);
}
.content-off {
  box-sizing:border-box;
  width: 75%;
  height: 90vh;
  margin: auto;
  border-radius: .5rem;
  border-bottom: .14rem solid transparent;
  border-right: .14rem solid transparent;
  box-shadow: 0 0 1.3rem transparent;
}

.content__screen {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-title__wrapper {
  box-sizing: border-box;
  padding-left: 2rem;
  width: 100%;
}
.page-title {
  all: inherit;
  width: 100%;
  font-size: 2.2rem;
  margin-top: 1rem;
  font-family: "alien-encounters-italic";
}

.reveal {
  color: white;
  animation: fade-in .8s ease-in;
}

.slide-out {
  transform: translateX(4%) !important;
  opacity: 0 !important;
}
.slide-in {
  transform: translateX(0%) !important;
  opacity: 1 !important;
  transition: opacity .6s ease-in-out, transform .6s ease-in-out !important;
  transition-delay: .5s !important;
}
.slide-down {
  transform: translatey(4%) !important;
  opacity: 0 !important;
}
.slide-up {
  transform: translatey(0%) !important;
  opacity: 1 !important;
  /* transition: all .6s ease-in-out !important; */
  transition: opacity .6s ease-in-out, transform .6s ease-in-out !important;
  transition-delay: 1s !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes phase-in {
  to {
    background-size: 150% 100%
  }
}

@keyframes phase-out {
  to {
    background-position:-201% 0,0 0
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* 320 */

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){ 
}

@media (min-width: 1280px){
  .main-screen {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .nav-container {
    margin-left: 2rem;
    min-width: min-content;
  }
  .nav-container.show {
    display: flex;
  }
  .nav-container.no-show {
    display: flex;
  }
  .content {
    border-radius: .5rem;
    width: 100%;
    height: 90vh;
    box-shadow: 0 0 1.3rem #120227;
    margin: auto 3rem;
    overflow-y: auto;
    backdrop-filter: blur(30px);

    width: 100%;
    max-width: 100%;
  }
  
  .page-title__wrapper {
    box-sizing: border-box;
    padding-left: 0;
    width: 100%;
  }
  .page-title {
    all: inherit;
    width: fit-content !important;
    font-size: 3rem;
    margin: 0;
    margin-top: 1rem;
    margin-left: 5rem;
  }

  .reveal {
    color: transparent;
    background: var(--reveal-background), var(--reveal-background);
    background-size: 0 100%;
    padding: 0 2rem;
    transform: translatex(-2rem);
    border-radius: 25px;
    -webkit-background-clip: padding-box,text;
            background-clip: padding-box,text;
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    animation: 
    phase-in .3s .2s both,
    phase-out .3s .5s both;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}

