@font-face {
  font-family: "sf-regular";
  src: url("../assets/fonts/SF-Pro-Text-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf-thin";
  src: url("../assets/fonts/SF-Pro-Display-Thin.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sf-ultra-light";
  src: url("../assets/fonts/SF-Pro-Display-Ultralight.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --backdrop: #000000;
  --content-bg: rgba(17, 16, 26, .7);
  --reveal-background: no-repeat linear-gradient(white 0 0) 0 0;
  --divider-background: linear-gradient(-45deg, var(--pink), var(--purple), var(--blue), var(--sky-blue));
  --phone-shadow: 1rem 1rem .3rem rgba(0, 0, 0, .5);
  --backdrops-sliders: linear-gradient(-60deg, var(--purple) 0%, rgba(68,0,122,1) 39%, rgba(31,0,56,1) 56%, rgba(0,0,0,1) 10%);
  --input-border-color: black;
  --input-highlight-border-color: white;
  --input-background: #6900BA;
  --sliders: #130338;
  --content-screen-bg: rgba(27, 24, 71, .6);
  --font-color: #ffffff;
  --purple: #8d00ff;
  --purple-dark: #6900BA;
  --purple-darker: #370061;
  --pink: #F600FF;
  --blue: #3600FF;
  --sky-blue: #00B9FF;
  --list-item-bg: #552a8b;
  --list-item-bg-light: var(--purple);

  /* Values */
  --border-radius: 1rem;
}

/* Themes */
[color-scheme='light'] {
  --font-color: #382847;
  --reveal-background: no-repeat linear-gradient(white 0 0) 0 0;
  --divider-background: linear-gradient(-45deg,white, rgb(0, 0, 0));
  --input-border-color: #000000;
  --input-highlight-border-color: var(--purple);
  --input-background: #e2d1ee;
  --content-bg: #9c97c7;
  --content-screen-bg: rgba(202, 202, 202, .6);
  --backdrops-sliders: linear-gradient(-60deg,
  rgb(255, 255, 255) 0%,
  rgb(255, 255, 255) 39%,
  rgb(186, 167, 197) 56%,
  rgb(139, 107, 175) 10%
  );

  --list-item-bg-light: #491881;
  --list-item-bg: #6d4e9f;
}

[color-scheme='dark'] {
  --font-color: #ffffff;
  --reveal-background: no-repeat linear-gradient(white 0 0) 0 0;
  --divider-background: linear-gradient(-45deg, var(--pink), var(--purple), var(--blue), var(--sky-blue));
  --input-border-color: black;
  --input-highlight-border-color: white;
  --input-background: #6900BA;
  --content-bg: rgba(17, 16, 26, .7);
  --content-screen-bg: rgba(27, 24, 71, .6);
  --backdrops-sliders: linear-gradient(-60deg, var(--purple) 0%, rgba(68,0,122,1) 39%, rgba(31,0,56,1) 56%, rgba(0,0,0,1) 10%);
  
  --list-item-bg: #4e1b8d;
  --list-item-bg-light: var(--purple);
}
/*  */

body {
  background-color: var(--backdrop);
  color: var(--font-color);
  margin: 0;
  font-family: 'sf-regular', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p, li, figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

abbr {
  border-bottom: none !important;
  text-decoration: none !important;
}

img {
  border-style: none;
}

.bg {
  animation: slide 2s ease-in-out infinite alternate;
  background-image: var(--backdrops-sliders);
  background-color: var(--backdrop);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.main-screen {
  display: flex;
}
.nav-container {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100vh;
  margin-left: 2rem;
}

.content {
  box-sizing:border-box;
  background: var(--content-screen-bg);
  border-radius: .5rem;
  width: 75%;
  height: 90vh;
  box-shadow: 0 0 1.3rem #120227;
  margin: auto;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  backdrop-filter: blur(30px);
}
.content-off {
  box-sizing:border-box;
  width: 75%;
  height: 90vh;
  margin: auto;
  border-radius: .5rem;
  border-bottom: .14rem solid transparent;
  border-right: .14rem solid transparent;
  box-shadow: 0 0 1.3rem transparent;
}

.content__screen {
  box-sizing: border-box;
  width: 100%;
}

.center {
  /* display: flex;
  justify-content: center; */
  width: 100%;
}

.page-title {
  width: fit-content !important;
  all: inherit;
  font-size: 3rem;
  margin-top: 1rem;
  margin-left: 5rem;
}

.icon {
  aspect-ratio: 1/1;
  width: 3.5rem;
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  font-size: 2rem;
  transition: transform 100ms ease-in-out;
}
.icon:hover {
  transform: scale(1.1);
}

.reveal {
  color: transparent;
  background: var(--reveal-background), var(--reveal-background);
  background-size: 0 100%;
  padding: 0 2rem;
  transform: translatex(-2rem);
  border-radius: 25px;
  -webkit-background-clip: padding-box,text;
          background-clip: padding-box,text;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  animation: 
  phase-in .3s .2s both,
  phase-out .3s .5s both;
}

.slide-out {
  transform: translateX(4%) !important;
  opacity: 0 !important;
}
.slide-in {
  transform: translateX(0%) !important;
  opacity: 1 !important;
  transition: opacity .6s ease-in-out, transform .6s ease-in-out !important;
  transition-delay: .5s !important;
}
.slide-down {
  transform: translatey(4%) !important;
  opacity: 0 !important;
}
.slide-up {
  transform: translatey(0%) !important;
  opacity: 1 !important;
  /* transition: all .6s ease-in-out !important; */
  transition: opacity .6s ease-in-out, transform .6s ease-in-out !important;
  transition-delay: 1s !important;
}

@keyframes phase-in {
  to {
    background-size: 150% 100%
  }
}

@keyframes phase-out {
  to {
    background-position:-201% 0,0 0
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}